name: Gradle Build and Container create

on:
  push:
    branches:
      - master

jobs:
  container-create:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: buildNative with Gradle
        run: |
          docker images
          ./gradlew buildNative --docker-build=true
      - name: Container Build with Docker
        run: |
          docker build -f src/main/docker/Dockerfile.native -t gcr.io/vast-dock-259309/cicd_sample .
      - name: show
        run: |
          docker images
          echo loginsuruyo
          echo ${{secrets.KEY_FILE}} | docker login -u _json_key --password-stdin https://gcr.io