name: Gradle test

on:
  push:
    branches-ignore:
      - master

jobs:
  gradle-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: login
        env:
          GCLOUD_AUTH: ${{secrets.GCLOUD_AUTH}}
        run: |
          echo $GCLOUD_AUTH | docker login -u _json_key --password-stdin gcr.io
      - name: test with Gradle
        run: |
          ./gradlew test