name: Gradle test

on: [push]

jobs:
  gradle-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: test with Gradle
        run: |
          ./gradlew test
  show-successed:
    needs: gradle-test
    runs-on: 
      - uses: docker://ubuntu:latest
      - name: show Successed
        run: |
          ls -l